name: Deployment

on:
    release:
        types: [published]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Ballerina Build
              uses: ballerina-platform/ballerina-action@slbeta6
              with:
                  args:
                      pack ./peoplehr
              env:
                BASE_URL: ${{ secrets.BASE_URL }}
                API_KEY: ${{ secrets.API_KEY }}
                EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
                PASSWORD: ${{ secrets.PASSWORD }}
                QUERY_NAME: ${{ secrets.QUERY_NAME }}
            - name: Ballerina Push
              uses: ballerina-platform/ballerina-action@slbeta6
              with:
                  args:
                      push
              env:
                  WORKING_DIR: ./peoplehr
                  BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BALLERINA_CENTRAL_ACCESS_TOKEN }}
                  